body {
    background-color:#333;
    font-family:Andale Mono, monospace;
    color:#fff;
}

header{
    height:20vh;
}

a{
    color:lightblue;
}

a:hover{
    color:green;
}

nav a{
    text-decoration:none;
    margin-right:10px;
}

nav a.active{
    text-decoration: underline;
}

.bottom-nav{
    height:30px;
}

.bottom-disclaimer{
    width:250px;
    margin:auto;
    color: #717171;
    text-align:center;
}

.bottom-disclaimer a{
    text-decoration:none;
    color:inherit;
}

.button{
    border: solid 2px;
    padding:5px;
    border-radius:5px;
}

.centered{
    text-align:center;
}

.description{
    font-size:medium;
}

.preview{
    border:solid 5px;
    border-radius: 5px;
    padding:5px;
    margin:auto;
}
	 

.subheading{
    color:#717171;
    margin-top:-20px;
}

.content{
    width:50%;
    margin:auto;
    font-size:x-large;
    min-height:65vh;
}
	 
.right {
    float:right;
}

.left{
    float:left;
}      
